# ignore ALL . files
.DS_Store

/Codes/.DS_Store
/Figures/.DS_Store



# igore cache 
/Codes/.ipynb_checkpoints

# igore swap

/Codes/*.swp

# igore checkpoint

/Codes/*-checkpoint.ipynb

# igore checkpoint

/talk
