# ignore ALL . files
.*

/Codes/.*
/Figures/.*

# igore cache 
/Codes/.ipynb_checkpoints

# igore swap

/Codes/*.swp

# igore checkpoint

/Codes/*-checkpoint.ipynb

# igore data

/Codes/*.pickle


# igore checkpoint

/talk
